<section id="landing">
  <div class="container">
    <mat-toolbar color="primary">
      <span class="toolbar-title">Mi CV</span>
    </mat-toolbar>
    <div class="profile-card">
      <div class="avatar"></div>
      <h1>{{ nombre }}</h1>
      <h2>Software developer</h2>
      <p>{{ descripcion }}</p>
    </div>
    <div class="contact-card">
      <h2>Contacto</h2>
      <ul>
        <li><strong>Email:</strong> manuferrer094@gmail.com</li>
        <li><strong>Teléfono:</strong> 6020207973</li>
        <li><strong>LinkedIn:</strong> <a href="">LinkedinUrl</a></li>
        <li><strong>GitHub:</strong> <a href="">GithubUrl</a></li>
      </ul>
    </div>
  </div>
</section>
