<section id="landing">
  <div class="container">
    <mat-toolbar color="primary">
      <span class="toolbar-title">CV de {{nombre}}</span>
    </mat-toolbar>
    <div class="profile-card">
      <div class="avatar" [style.background-image]="'url(' + foto + ')'"></div>
      <h1>{{ nombre }}</h1>
      <h2>Software developer</h2>
      <p>{{ descripcion }}</p>
    </div>
    <div class="contact-card">
      <h2>Contacto</h2>
      <ul>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Teléfono:</strong> {{ telefono }}</li>
        <li><strong>LinkedIn:</strong> <a target="_blank" href="{{linkedin}}">LinkedIn</a></li>
        <li><strong>GitHub:</strong> <a target="_blank" href="{{github}}">Github</a></li>
      </ul>
    </div>
  </div>
</section>
