<section id="landing">
  <div class="container">
    <h1>Hola, soy {{ nombre }}</h1>
    <div class="profile-card">
      <div class="available">
        <div class="avatar" [style.background-image]="'url(' + foto + ')'">
        </div>
        <h2>{{ rol }}</h2>
        <p>{{ descripcion }}</p>
        <div class="contact-card">
          <div class="contact-buttons">
            <a target="_blank" href="{{ linkedin }}">
              <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="{{ github }}">
              <i class="fab fa-github"></i>
            </a>
            <a href="mailto:{{ email }}">
              <i class="far fa-envelope"></i>
            </a>
            <a href="tel:{{ telefono }}">
              <i class="fas fa-phone"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="projects">
  <div class="container">
    <app-portfolio></app-portfolio>
  </div>
</section>
