<ng-container *ngFor="let project of pagedProjects">
  <!-- Aquí va tu código HTML para mostrar cada proyecto -->
  <div class="project-card">
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    <div *ngIf="project.stack && project.stack.length > 0">
      <h4>Stack</h4>
      <div class="about-stack">
        <span *ngFor="let tech of project.stack">
          <mat-chip>{{ tech }}</mat-chip>
        </span>
      </div>
    </div>
    <div class="btn-container">
      <a [href]="project.githubLink" class="btn project-button" target="_blank">GitHub <i class="fa-brands fa-github"></i></a>
      <a *ngIf="project.demoLink" [href]="project.demoLink" class="btn project-button" target="_blank">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
    </div>
  </div>
</ng-container>

<mat-paginator [length]="projects.length" [pageSize]="4" (page)="onPageChange()"></mat-paginator>
