<section id="homepage">
  <div class="container">
    <h1>LandingVille</h1>
    <p>¡Bienvenido a LandingVille! Descubre a los colaboradores de GitHub y explora sus proyectos personales.</p>
    <div class="input-container">
      <input matInput type="text" [(ngModel)]="repoUrl" placeholder="Introduce la URL del repositorio de GitHub">
      <button mat-raised-button color="primary" (click)="getRepoContributors()">Ver colaboradores</button>
    </div>
    <div class="mat-card-container" *ngIf="landings.length > 0">
      <mat-card *ngFor="let landing of landings">
        <div class="header-title">
          <mat-card-title>{{ landing.name }}</mat-card-title>
          <mat-card-subtitle>{{ landing.role }}</mat-card-subtitle>
        </div>
        <img mat-card-image class="avatar" [src]="landing.img" alt="{{ landing.title }}">
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="landing.url" [state]="{ userIndex: landing.id }">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
